In [1]:
import pandas as pd
td = pd.read_csv('/content/drive/MyDrive/Datasets-20241201T040656Z-001/Datasets/Titanic-Dataset.csv')
fare = td[['Fare']]

# Print the head of the result
fare.head()

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

2. Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic
dataset, in that order. Print the head of the result.

In [2]:
import pandas as pd

class_age = td[['Pclass', 'Age']]
print(class_age.head())

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

3. Create a DataFrame called survived gender that contains the Survived and Sex columns of the
Titanic dataset, in that order.Print the head of the result.

In [3]:
import pandas as pd

survived_gender = td[['Survived', 'Sex']]
print(survived_gender.head())

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

1. Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it
to fare gt 100.View the printed result.

In [4]:
import pandas as pd
fare_gt_100 = td[td['Fare'] > 100]
print(fare_gt_100)

     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1
215          216         1       1
258          259         1       1
268          269         1       1
269          270         1       1
297          298         0       1
299          300         1       1
305          306         1       1
306          307         1       1
307          308         1       1
311          312         1       1
318          319         1       1
319          320         1       1
325          326         1       1
332          333         0       1
334          335         1       1
337          338         1       1
341          342         1       1
373          374         0       1
377          378         0       1
380          381         1       1
390          391         1       1
393          394         1       1
435          436         1       1
438          439         0       1
498          499         0       1
505          506         0       1
527          528         0       1
537          538         1       1
544          545         0       1
550          551         1       1
557          558         0       1
581          582         1       1
609          610         1       1
659          660         0       1
660          661         1       1
679          680         1       1
689          690         1       1
698          699         0       1
700          701         1       1
708          709         1       1
716          717         1       1
730          731         1       1
737          738         1       1
742          743         1       1
763          764         1       1
779          780         1       1
802          803         1       1
856          857         1       1

                                                  Name     Sex    Age  SibSp  \
27                      Fortune, Mr. Charles Alexander    male  19.00      3
31      Spencer, Mrs. William Augustus (Marie Eugenie)  female    NaN      1
88                          Fortune, Miss. Mabel Helen  female  23.00      3
118                           Baxter, Mr. Quigg Edmond    male  24.00      0
195                               Lurette, Miss. Elise  female  58.00      0
215                            Newell, Miss. Madeleine  female  31.00      1
258                                   Ward, Miss. Anna  female  35.00      0
268      Graham, Mrs. William Thompson (Edith Junkins)  female  58.00      0
269                             Bissette, Miss. Amelia  female  35.00      0
297                       Allison, Miss. Helen Loraine  female   2.00      1
299    Baxter, Mrs. James (Helene DeLaudeniere Chaput)  female  50.00      0
305                     Allison, Master. Hudson Trevor    male   0.92      1
306                            Fleming, Miss. Margaret  female    NaN      0
307  Penasco y Castellana, Mrs. Victor de Satode (M...  female  17.00      1
311                         Ryerson, Miss. Emily Borie  female  18.00      2
318                           Wick, Miss. Mary Natalie  female  31.00      0
319  Spedden, Mrs. Frederic Oakley (Margaretta Corn...  female  40.00      1
325                           Young, Miss. Marie Grice  female  36.00      0
332                          Graham, Mr. George Edward    male  38.00      0
334  Frauenthal, Mrs. Henry William (Clara Heinshei...  female    NaN      1
337                    Burns, Miss. Elizabeth Margaret  female  41.00      0
341                     Fortune, Miss. Alice Elizabeth  female  24.00      3
373                                Ringhini, Mr. Sante    male  22.00      0
377                          Widener, Mr. Harry Elkins    male  27.00      0
380                              Bidois, Miss. Rosalie  female  42.00      0
390                         Carter, Mr. William Ernest    male  36.00      1
393                             Newell, Miss. Marjorie  female  23.00      1
435                          Carter, Miss. Lucile Polk  female  14.00      1
438                                  Fortune, Mr. Mark    male  64.00      1
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.00      1
505         Penasco y Castellana, Mr. Victor de Satode    male  18.00      1
527                                 Farthing, Mr. John    male    NaN      0
537                                LeRoy, Miss. Bertha  female  30.00      0
544                         Douglas, Mr. Walter Donald    male  50.00      1
550                        Thayer, Mr. John Borland Jr    male  17.00      0
557                                Robbins, Mr. Victor    male    NaN      0
581  Thayer, Mrs. John Borland (Marian Longstreth M...  female  39.00      1
609                          Shutes, Miss. Elizabeth W  female  40.00      0
659                         Newell, Mr. Arthur Webster    male  58.00      0
660                      Frauenthal, Dr. Henry William    male  50.00      2
679                 Cardeza, Mr. Thomas Drake Martinez    male  36.00      0
689                  Madill, Miss. Georgette Alexandra  female  15.00      0
698                           Thayer, Mr. John Borland    male  49.00      1
700  Astor, Mrs. John Jacob (Madeleine Talmadge Force)  female  18.00      1
708                               Cleaver, Miss. Alice  female  22.00      0
716                      Endres, Miss. Caroline Louise  female  38.00      0
730                      Allen, Miss. Elisabeth Walton  female  29.00      0
737                             Lesurer, Mr. Gustave J    male  35.00      0
742              Ryerson, Miss. Susan Parker "Suzette"  female  21.00      2
763          Carter, Mrs. William Ernest (Lucile Polk)  female  36.00      1
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  female  43.00      0
802                Carter, Master. William Thornton II    male  11.00      1
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.00      1

     Parch    Ticket      Fare            Cabin Embarked
27       2     19950  263.0000      C23 C25 C27        S
31       0  PC 17569  146.5208              B78        C
88       2     19950  263.0000      C23 C25 C27        S
118      1  PC 17558  247.5208          B58 B60        C
195      0  PC 17569  146.5208              B80        C
215      0     35273  113.2750              D36        C
258      0  PC 17755  512.3292              NaN        C
268      1  PC 17582  153.4625             C125        S
269      0  PC 17760  135.6333              C99        S
297      2    113781  151.5500          C22 C26        S
299      1  PC 17558  247.5208          B58 B60        C
305      2    113781  151.5500          C22 C26        S
306      0     17421  110.8833              NaN        C
307      0  PC 17758  108.9000              C65        C
311      2  PC 17608  262.3750  B57 B59 B63 B66        C
318      2     36928  164.8667               C7        S
319      1     16966  134.5000              E34        C
325      0  PC 17760  135.6333              C32        C
332      1  PC 17582  153.4625              C91        S
334      0  PC 17611  133.6500              NaN        S
337      0     16966  134.5000              E40        C
341      2     19950  263.0000      C23 C25 C27        S
373      0  PC 17760  135.6333              NaN        C
377      2    113503  211.5000              C82        C
380      0  PC 17757  227.5250              NaN        C
390      2    113760  120.0000          B96 B98        S
393      0     35273  113.2750              D36        C
435      2    113760  120.0000          B96 B98        S
438      4     19950  263.0000      C23 C25 C27        S
498      2    113781  151.5500          C22 C26        S
505      0  PC 17758  108.9000              C65        C
527      0  PC 17483  221.7792              C95        S
537      0  PC 17761  106.4250              NaN        C
544      0  PC 17761  106.4250              C86        C
550      2     17421  110.8833              C70        C
557      0  PC 17757  227.5250              NaN        C
581      1     17421  110.8833              C68        C
609      0  PC 17582  153.4625             C125        S
659      2     35273  113.2750              D48        C
660      0  PC 17611  133.6500              NaN        S
679      1  PC 17755  512.3292      B51 B53 B55        C
689      1     24160  211.3375               B5        S
698      1     17421  110.8833              C68        C
700      0  PC 17757  227.5250          C62 C64        C
708      0    113781  151.5500              NaN        S
716      0  PC 17757  227.5250              C45        C
730      0     24160  211.3375               B5        S
737      0  PC 17755  512.3292             B101        C
742      2  PC 17608  262.3750  B57 B59 B63 B66        C
763      2    113760  120.0000          B96 B98        S
779      1     24160  211.3375               B3        S
802      2    113760  120.0000          B96 B98        S
856      1     36928  164.8667              NaN        S

2. Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to
first class.View the printed result.

In [5]:
import pandas as pd

first_class =td[td['Pclass'] == 1]
print(first_class)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
11            12         1       1
23            24         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
11       0    113783  26.5500         C103        S
23       0    113788  35.5000           A6        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[216 rows x 12 columns]

3. Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger
is female (Sex is "female"), assigning it to female under 18. View the printed result.

In [6]:
import pandas as pd

female_under_18 = td[(td['Age'] < 18) & (td['Sex'] == 'female')]
print(female_under_18)

     PassengerId  Survived  Pclass  \
9             10         1       2
10            11         1       3
14            15         0       3
22            23         1       3
24            25         0       3
39            40         1       3
43            44         1       2
58            59         1       2
68            69         1       3
71            72         0       3
84            85         1       2
111          112         0       3
114          115         0       3
119          120         0       3
147          148         0       3
156          157         1       3
172          173         1       3
184          185         1       3
205          206         0       3
208          209         1       3
233          234         1       3
237          238         1       2
297          298         0       1
307          308         1       1
329          330         1       1
374          375         0       3
381          382         1       3
389          390         1       2
419          420         0       3
435          436         1       1
446          447         1       2
448          449         1       3
469          470         1       3
479          480         1       3
504          505         1       1
530          531         1       2
535          536         1       2
541          542         0       3
542          543         0       3
618          619         1       2
634          635         0       3
642          643         0       3
644          645         1       3
689          690         1       1
691          692         1       3
720          721         1       2
750          751         1       2
777          778         1       3
780          781         1       3
781          782         1       1
813          814         0       3
830          831         1       3
852          853         0       3
853          854         1       1
875          876         1       3

                                                  Name     Sex    Age  SibSp  \
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.00      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.00      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.00      0
22                         McGowan, Miss. Anna "Annie"  female  15.00      0
24                       Palsson, Miss. Torborg Danira  female   8.00      3
39                         Nicola-Yarred, Miss. Jamila  female  14.00      1
43            Laroche, Miss. Simonne Marie Anne Andree  female   3.00      1
58                        West, Miss. Constance Mirium  female   5.00      1
68                     Andersson, Miss. Erna Alexandra  female  17.00      4
71                          Goodwin, Miss. Lillian Amy  female  16.00      5
84                                 Ilett, Miss. Bertha  female  17.00      0
111                               Zabour, Miss. Hileni  female  14.50      1
114                              Attalah, Miss. Malake  female  17.00      0
119                  Andersson, Miss. Ellis Anna Maria  female   2.00      4
147                   Ford, Miss. Robina Maggie "Ruby"  female   9.00      2
156                   Gilnagh, Miss. Katherine "Katie"  female  16.00      0
172                       Johnson, Miss. Eleanor Ileen  female   1.00      1
184                Kink-Heilmann, Miss. Luise Gretchen  female   4.00      0
205                         Strom, Miss. Telma Matilda  female   2.00      0
208                          Carr, Miss. Helen "Ellen"  female  16.00      0
233                     Asplund, Miss. Lillian Gertrud  female   5.00      4
237                   Collyer, Miss. Marjorie "Lottie"  female   8.00      0
297                       Allison, Miss. Helen Loraine  female   2.00      1
307  Penasco y Castellana, Mrs. Victor de Satode (M...  female  17.00      1
329                       Hippach, Miss. Jean Gertrude  female  16.00      0
374                         Palsson, Miss. Stina Viola  female   3.00      3
381                        Nakid, Miss. Maria ("Mary")  female   1.00      0
389                              Lehmann, Miss. Bertha  female  17.00      0
419                          Van Impe, Miss. Catharina  female  10.00      0
435                          Carter, Miss. Lucile Polk  female  14.00      1
446                  Mellinger, Miss. Madeleine Violet  female  13.00      0
448                     Baclini, Miss. Marie Catherine  female   5.00      2
469                      Baclini, Miss. Helene Barbara  female   0.75      2
479                           Hirvonen, Miss. Hildur E  female   2.00      0
504                              Maioni, Miss. Roberta  female  16.00      0
530                           Quick, Miss. Phyllis May  female   2.00      1
535                             Hart, Miss. Eva Miriam  female   7.00      0
541               Andersson, Miss. Ingeborg Constanzia  female   9.00      4
542                  Andersson, Miss. Sigrid Elisabeth  female  11.00      4
618                        Becker, Miss. Marion Louise  female   4.00      2
634                                 Skoog, Miss. Mabel  female   9.00      3
642                      Skoog, Miss. Margit Elizabeth  female   2.00      3
644                             Baclini, Miss. Eugenie  female   0.75      2
689                  Madill, Miss. Georgette Alexandra  female  15.00      0
691                                 Karun, Miss. Manca  female   4.00      0
720                  Harper, Miss. Annie Jessie "Nina"  female   6.00      0
750                                  Wells, Miss. Joan  female   4.00      1
777                      Emanuel, Miss. Virginia Ethel  female   5.00      0
780                               Ayoub, Miss. Banoura  female  13.00      0
781          Dick, Mrs. Albert Adrian (Vera Gillespie)  female  17.00      1
813                 Andersson, Miss. Ebba Iris Alfrida  female   6.00      4
830            Yasbeck, Mrs. Antoni (Selini Alexander)  female  15.00      1
852                            Boulos, Miss. Nourelain  female   9.00      1
853                          Lines, Miss. Mary Conover  female  16.00      0
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.00      0

     Parch         Ticket      Fare    Cabin Embarked
9        0         237736   30.0708      NaN        C
10       1        PP 9549   16.7000       G6        S
14       0         350406    7.8542      NaN        S
22       0         330923    8.0292      NaN        Q
24       1         349909   21.0750      NaN        S
39       0           2651   11.2417      NaN        C
43       2  SC/Paris 2123   41.5792      NaN        C
58       2     C.A. 34651   27.7500      NaN        S
68       2        3101281    7.9250      NaN        S
71       2        CA 2144   46.9000      NaN        S
84       0     SO/C 14885   10.5000      NaN        S
111      0           2665   14.4542      NaN        C
114      0           2627   14.4583      NaN        C
119      2         347082   31.2750      NaN        S
147      2     W./C. 6608   34.3750      NaN        S
156      0          35851    7.7333      NaN        Q
172      1         347742   11.1333      NaN        S
184      2         315153   22.0250      NaN        S
205      1         347054   10.4625       G6        S
208      0         367231    7.7500      NaN        Q
233      2         347077   31.3875      NaN        S
237      2     C.A. 31921   26.2500      NaN        S
297      2         113781  151.5500  C22 C26        S
307      0       PC 17758  108.9000      C65        C
329      1         111361   57.9792      B18        C
374      1         349909   21.0750      NaN        S
381      2           2653   15.7417      NaN        C
389      0        SC 1748   12.0000      NaN        C
419      2         345773   24.1500      NaN        S
435      2         113760  120.0000  B96 B98        S
446      1         250644   19.5000      NaN        S
448      1           2666   19.2583      NaN        C
469      1           2666   19.2583      NaN        C
479      1        3101298   12.2875      NaN        S
504      0         110152   86.5000      B79        S
530      1          26360   26.0000      NaN        S
535      2   F.C.C. 13529   26.2500      NaN        S
541      2         347082   31.2750      NaN        S
542      2         347082   31.2750      NaN        S
618      1         230136   39.0000       F4        S
634      2         347088   27.9000      NaN        S
642      2         347088   27.9000      NaN        S
644      1           2666   19.2583      NaN        C
689      1          24160  211.3375       B5        S
691      1         349256   13.4167      NaN        C
720      1         248727   33.0000      NaN        S
750      1          29103   23.0000      NaN        S
777      0         364516   12.4750      NaN        S
780      0           2687    7.2292      NaN        C
781      0          17474   57.0000      B20        S
813      2         347082   31.2750      NaN        S
830      0           2659   14.4542      NaN        C
852      1           2678   15.2458      NaN        C
853      1       PC 17592   39.4000      D28        S
875      0           2667    7.2250      NaN        C

Subsetting Rows by Categorical variables:
1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"
(Southampton), assigning the result to embarked c or s. View the printed result.

In [7]:
import pandas as pd

embarked_c_or_s = td[td['Embarked'].isin(['C', 'S'])]
print(embarked_c_or_s)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
884          885         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
884      0   SOTON/OQ 392076   7.0500   NaN        S
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C

[812 rows x 12 columns]

2. Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first
or second class), assigning the result to first second class.View the printed result.

In [8]:
import pandas as pd

first_second_class = td[td['Pclass'].isin([1, 2])]
print(first_second_class)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
9             10         1       2
11            12         1       1
..           ...       ...     ...
880          881         1       2
883          884         0       2
886          887         0       2
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch            Ticket     Fare Cabin Embarked
1        0          PC 17599  71.2833   C85        C
3        0            113803  53.1000  C123        S
6        0             17463  51.8625   E46        S
9        0            237736  30.0708   NaN        C
11       0            113783  26.5500  C103        S
..     ...               ...      ...   ...      ...
880      1            230433  26.0000   NaN        S
883      0  C.A./SOTON 34068  10.5000   NaN        S
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
889      0            111369  30.0000  C148        C

[400 rows x 12 columns]

Which passenger had the highest fare paid relative to their age?
To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of
the passenger(i.e., Fare/Age).
2. Subset rows where fare per year is higher than 5, assigning this to high fare age.
3. Sort high fare age by descending fare per year, assigning this to high fare age srt.
4. Select only the Name and fare per year columns of high fare age srt and save the result as result.
5. Look at the result.

In [11]:
import pandas as pd

td['fare per year'] = td['Fare'] / td['Age']
td.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare per year
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000

In [12]:
high_fare_age = td[td['fare per year'] > 5]
high_fare_age.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare per year
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,10.537500
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,14.562500
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,13.842105
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C,13.859733
50,51,0,3,"Panula, Master. Juha Niilo",male,7.0,4,1,3101295,39.6875,NaN,S,5.669643

In [13]:
high_fare_age_srt = high_fare_age.sort_values(by='fare per year', ascending=False)
high_fare_age.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare per year
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,10.537500
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,14.562500
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,13.842105
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C,13.859733
50,51,0,3,"Panula, Master. Juha Niilo",male,7.0,4,1,3101295,39.6875,NaN,S,5.669643

In [15]:
result = high_fare_age_srt[['Name', 'fare per year']]
high_fare_age_srt.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare per year
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,164.728261
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,75.775000
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S,46.900000
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,39.687500
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,39.000000

In [16]:
print(result)

                                       Name  fare per year
305          Allison, Master. Hudson Trevor     164.728261
297            Allison, Miss. Helen Loraine      75.775000
386         Goodwin, Master. Sidney Leonard      46.900000
164            Panula, Master. Eino Viljami      39.687500
183               Becker, Master. Richard F      39.000000
..                                      ...            ...
318                Wick, Miss. Mary Natalie       5.318281
348  Coutts, Master. William Loch "William"       5.300000
205              Strom, Miss. Telma Matilda       5.231250
813      Andersson, Miss. Ebba Iris Alfrida       5.212500
480          Goodwin, Master. Harold Victor       5.211111

[68 rows x 2 columns]

Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their
class?
To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger
class i.e. Fare / Pclass.
2. Subset rows where the passenger is male (Sex is ”male”) and an adult (Age is greater than or equal
to 18), assigning this to adult males.
3. Sort adult males by descending fare per class, assigning this to adult males srt.
4. Select only the Name, Age, and fare per class columns of adult males sr and save the result
as result.
5. Look at the result.

In [20]:
import pandas as pd

td['fare per class'] = td['Fare'] / td['Pclass']
td.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare per year,fare per class
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,2.416667
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876,71.283300
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808,2.641667
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143,53.100000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,2.683333

In [21]:
adult_males = td[(td['Sex'] == 'male') & (td['Age'] >= 18)]
adult_males.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare per year,fare per class
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,2.416667
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,2.683333
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0.960417,51.862500
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,0.402500,2.683333
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,0.801923,10.425000

In [22]:
adult_males_srt = adult_males.sort_values(by='fare per class', ascending=False)
adult_males_srt.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare per year,fare per class
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,14.637977,512.3292
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,14.231367,512.3292
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,13.842105,263.0000
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S,4.109375,263.0000
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C,10.313367,247.5208

In [23]:
result = adult_males_srt[['Name', 'Age', 'fare per class']]
result.head()

                                   Name   Age  fare per class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208

In [24]:
print(result)

                                   Name   Age  fare per class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208
..                                  ...   ...             ...
271        Tornquist, Mr. William Henry  25.0          0.0000
179                 Leonard, Mr. Lionel  36.0          0.0000
302     Johnson, Mr. William Cahoone Jr  19.0          0.0000
822     Reuchlin, Jonkheer. John George  38.0          0.0000
806              Andrews, Mr. Thomas Jr  39.0          0.0000

[395 rows x 3 columns]

3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:
Based on the dataset Answer the following question:
What percent of the total fare revenue came from each passenger class?
To answer the question perform following operation:
1. Calculate the total Fare paid across all passengers in the Titanic dataset.
2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.
3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).
4. Combine the fare totals from first, second, and third classes into a list.
5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.

In [25]:
import pandas as pd

total_fare = td['Fare'].sum()
print("Total Fare:", total_fare)

Total Fare: 28693.9493

In [26]:
first_class_fare = td[td['Pclass'] == 1]['Fare'].sum()
print("First Class Fare:", first_class_fare)

First Class Fare: 18177.4125

In [27]:
second_class_fare = td[td['Pclass'] == 2]['Fare'].sum()
print("Second Class Fare:", second_class_fare)

third_class_fare = td[td['Pclass'] == 3]['Fare'].sum()
print("Third Class Fare:", third_class_fare)

Second Class Fare: 3801.8417
Third Class Fare: 6714.6951

In [28]:
class_fares = [first_class_fare, second_class_fare, third_class_fare]
print("Class Fares List:", class_fares)

Class Fares List: [18177.4125, 3801.8417, 6714.6951]

In [29]:
fare_percentage_by_class = [(fare / total_fare) * 100 for fare in class_fares]
print("Percentage of Total Fare Revenue by Class:", fare_percentage_by_class)

Percentage of Total Fare Revenue by Class: [63.349287718996564, 13.24962855496507, 23.401083726038365]

What percent of the total number of passengers on the Titanic belonged to each age group
(e.g., child, adult, senior)?
To answer the question perform following operation:
1. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age
18{64), and "senior" (age 65 and above).
2. Calculate the total number of passengers on the Titanic.
3. Count the number of passengers in each age group.
4. Divide the count of each age group by the total number of passengers to get the proportion of passengers
in each age group.
5. Display the proportion as a percentage.

In [31]:
import pandas as pd

td['age group'] = pd.cut(td['Age'], bins=[0, 18, 64, float('inf')], labels=['child', 'adult', 'senior'])
td.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare per year,fare per class,age group
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,2.416667,adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876,71.283300,adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808,2.641667,adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143,53.100000,adult
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,2.683333,adult

In [33]:
total_passengers = len(td)
print("Total Number of Passengers:", total_passengers)

Total Number of Passengers: 891

In [35]:
age_group_counts = td['age group'].value_counts()
print("Passenger Count by Age Group:", age_group_counts)

Passenger Count by Age Group: age group
adult     564
child     139
senior     11
Name: count, dtype: int64

In [36]:
age_group_proportions = age_group_counts / total_passengers
print("Proportion of Passengers by Age Group:", age_group_proportions)

Proportion of Passengers by Age Group: age group
adult     0.632997
child     0.156004
senior    0.012346
Name: count, dtype: float64

In [37]:
age_group_percentage = age_group_proportions * 100
print("Percentage of Passengers by Age Group:", age_group_percentage)

Percentage of Passengers by Age Group: age group
adult     63.299663
child     15.600449
senior     1.234568
Name: count, dtype: float64